
#header{
  display: flex;
  align-items: center;
  vertical-align: center;
}
#company-name{
  font-family: Work Sans,sans-serif;
  margin-left: 5px;
  font-size: 24px;
}
#company-logo{
  width:45px
}
#index-container,#index-container-malay,#index-container-chinese{
  display:flex;
  flex-direction: column;
  
}
#main-body{
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-rows:25px 100px 1fr;
  margin-top:30px;
}
#welcome{
  font-size: 24px;
  font-weight: bold;
  font-family: Outfit,Arial;
}
#looking{
  font-size:68px;
  font-weight:bold;
  font-style: italic;
  font-family: Outfit,Arial;
}
#buttons-index{
  margin-top:50px;
  display: grid;
  grid-template-columns: 225px 225px 225px;
  column-gap: 15px;
  row-gap: 15px;
}
#options-index{
  width:225px;
  height: 125px;
  font-size: 18px;
  background-color: #333F50;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  box-shadow: 10px 10px 12.5px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: opacity 0.15s, box-shadow 0.15s;
}
#options-index:hover{
  opacity: 0.9;
}
#options-index:active{
  box-shadow:none
}
#emergency{
  width:225px;
  height: 125px;
  background-color: #E01A1A;
  font-weight: bold;
  color: white;
  font-size: 18px;
  border:none;
  border-radius: 15px;
  box-shadow: 10px 10px 12.5px rgba(0,0,0,0.4);
  padding-top: 15px;
  cursor: pointer;
  transition: opacity 0.15s, box-shadow 0.15s;
}
#emergency:hover{
  opacity: 0.9;
}
#emergency:active{
  box-shadow: none;
}
#charge{
  font-size:11px;
  margin-top:-0px;
}
#footer,#footer-chinese,#footer-malay{
  margin-top: 100px;
  display:flex;
  justify-content: center;
  font-family: Outfit,Arial;
  color: #A6A6A6;
}
#english{
  cursor: pointer;
}
#chinese{
  margin-left: 20px;
  cursor: pointer;
}
#malay{
  margin-left: 20px;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: #A6A6A6;
}
#back-button{
  width: 30px;
}
